<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring boot web application with ng</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp">

<div class="container" ng-controller="personController">
    <input type="text" ng-model="firstName"/>
    <input type="text" ng-model="middleName"/>
    <input type="text" ng-model="lastName"/>
</div>

<script type="text/javascript" src="/webjars/angularjs/1.5.4/angular.min.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.4/angular-resource.min.js"></script>
<script type="text/javascript" src="/webjars/lodash/4.0.0/lodash.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controllers.js"></script>
<script type="text/javascript" src="./app/services.js"></script>
</body>
</html>